extends ../layout

block content
    h1= title
    p UID: #{sensor._id.toString()} Room Id: #{sensor.roomId} Type: #{sensor.type} Unit: #{sensor.unit}
    canvas(id="sensor_chart")
    ul(id="temperatureRecords")

    script var wsServerUrl = '!{wsServerUrl}'
    script(src= wsLibraryUrl)
    script var sensor = !{JSON.stringify(sensor)}
    script(src='/javascripts/moment.js')
    script moment().format();
    script(src='/javascripts/Chart.js')
    script(src='/javascripts/sensor-chart.js')
    script(src='/javascripts/ws-sensors.js')