extends ../layout

block content
    h1= title
    p Room Name: #{room.name} Ideal Temperature: #{room.idealTemperature} Unit: #{room.idealTemperatureUnit}
    ul(id="temperatureRecords")
    canvas(id="room_sensors_chart")

    button

    script var wsServerUrl = '!{wsServerUrl}'
    script(src= wsLibraryUrl)
    script var sensors = !{JSON.stringify(sensors)}
    script(src='/javascripts/moment.js')
    script moment().format();
    script(src='/javascripts/Chart.js')
    script(src='/javascripts/room-sensors-chart.js')
    script(src='/javascripts/ws-room-sensors.js')